/* @group Some Body Stuff... */
body {
	margin: 0;
	padding: 0;
	outline: none;
	overflow: hidden;
	background: #00CFFF;
	color: #660f6e;
	font-family: 'Lato', Helvetica;
	font-weight: 300;
	text-shadow: 0 1px rgba(51,51,51,.5);
}
/* @end */

/* @group Content */
.wrapper {
	width: 100%;
	margin: 0 auto;
	position: absolute;
	top: 25%;
}

.counter,
.msg {
	text-align: center;
	font-size: 5em;
	line-height: 1;
}

.counter {
	margin-bottom: 0;
}

.msg {
	margin: 0;
	font-size: 3em;
}

.fa-plane {
	position: absolute;
	bottom: 0%;
	left: 0%;
	font-size: 5em;
	text-shadow: 0 80px 7px rgba(51,51,51,.15);

	-webkit-transition: all 1s ease;
		 -moz-transition: all 1s ease;
			-ms-transition: all 1s ease;
			 -o-transition: all 1s ease;
					transition: all 1s ease;

	-webkit-animation: flying 120s linear infinite;
		 -moz-animation: flying 120s linear infinite;
			-ms-animation: flying 120s linear infinite;
			 -o-animation: flying 120s linear infinite;
					animation: flying 120s linear infinite;
}

.fa-plane:hover {
	bottom: -10px;
	text-shadow: 0 50px 2px rgba(51,51,51,.18);
}
/* @end */

/* @group Keyframes */

@-webkit-keyframes flying {
	from {
		-webkit-transform: rotate(15deg) translate(-120%,0%);
	}
	to {
		-webkit-transform: rotate(15deg) translate(1500%,-1300%);
	}
}

@-moz-keyframes flying {
	from {
		-moz-transform: rotate(15deg) translate(-120%,0%);
	}
	to {
		-moz-transform: rotate(15deg) translate(1500%,-1300%);
	}
}

@-ms-keyframes flying {
	from {
		-ms-transform: rotate(15deg) translate(-120%,0%);
	}
	to {
		-ms-transform: rotate(15deg) translate(1500%,-1300%);
	}
}

@-o-keyframes flying {
	from {
		-o-transform: rotate(15deg) translate(-120%,0%);
	}
	to {
		-o-transform: rotate(15deg) translate(1500%,-1300%);
	}
}

@keyframes flying {
	from {
		transform: rotate(15deg) translate(-120%,0%);
	}
	to {
		transform: rotate(15deg) translate(1500%,-1300%);
	}
}

/* @end */

/* @group Media Queries */
@media screen and (min-width: 1024px) {
	.counter {
		font-size: 8em;
	}
	.msg {
		font-size: 4em;
	}
	.wrapper {
		top: 10%;
	}
}

@media screen and (max-width: 600px) {
	.counter {
		font-size: 3em;
	}
	.msg {
		font-size: 2.5em;
	}
}

@media screen and (max-width: 351px) {
	.counter {
		font-size: 2em;
	}
	.msg {
		font-size: 1.5em;
	}
}
/* @end */